html, body {
    margin: 0;
}

body {
    padding: 0;
}

svg {
    display: block;
}

body, svg {
    font-family: "Rubik", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f0f3f3;
}

h1 {
    margin: 0;
}

hr {
    margin: 14px 0;
    border: 0;
    height: 1px;
    background: #ccc;
}

.header {
    padding: 14px;
    display: flex;
    background: #3A5665;
    color: white;
}

.header h1 {
    text-shadow: 0 0 12px #0099ff;
    mix-blend-mode: plus-lighter;
    font-weight: normal;
}

.header .logo {
    filter: invert(100%);
    mix-blend-mode: overlay;
}

.header + hr {
    margin: 0;
}

.top {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin-left: 10px;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 14px;
    margin: 0 14px;
}

.tools-label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    border-left: 1px solid lightgray;
    margin-left: 10px;
    padding-left: 5px;
}

.tools-label:first-child {
    margin-left: 0;
}

.toggle span {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 4px;
    color: #666666;
}

.toggle input:checked+span {
    border-color: #3366ff;
    background: #3366ff;
    color: white;
}

.toggle input {
    display: none;
}

.hide {
    display: none;
}

text {
    font-size: 14px;
}

.node rect {
    stroke: #666;
    stroke-opacity: 0.3;
    stroke-width: 1.5px;
    shape-rendering: geometricPrecision;
}

.node text {
    fill: #333;
}

.edgePath path {
    stroke: #666;
    stroke-opacity: 0.7;
    stroke-width: 1.5px;
}

.disabled {
    fill-opacity: 0.24;
}

.disabled text {
    fill-opacity: 0.36;
}

.disabled rect {
    stroke-opacity: 0.16;
    stroke-dasharray: 4 2;
}

.legend > * {
    cursor: pointer;
    font-style: italic;
    font-size: 14px;
}

.chart-wrapper {
    width: 100%;
    overflow: scroll;
    padding: 20px 0 160px 0;
}

.chart > * {
    cursor: pointer;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    border: 1px solid #666;
    border-radius: 2px;
    pointer-events: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
}
.tooltip i {
    font-size: 11px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1px;
    margin: 0 2px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
}

.tooltip hr {
    margin: 7px 0;
    background: #666;
}

.tooltip b {
    margin-bottom: 4px;
    display: inline-block;
}

table {
    width: 100%;
}

th {
    text-align: left;
    padding-right: 14px;
}

td {
    text-align: right;
}

.building {
    fill: #e0e0ff;
    background-color: #e0e0ff;
}

.research {
    fill: #ffe0e0;
    background-color: #ffe0e0;
}

.proving {
    fill: #e0ffe0;
    background-color: #e0ffe0;
}

.item {
    fill: #f6ffe0;
    background-color: #f6ffe0;
}

.drop {
    fill: #e0ffff;
    background-color: #e0ffff;
}

.skill {
    fill: #f0f0f0;
    background-color: #f0f0f0;
}

.mission {
    fill: #cccccc;
    background-color: #cccccc;
}

.enhancement {
    fill: #fefef0;
    background-color: #fefef0;
}

.region {
    fill: #fef0fe;
    background-color: #fef0fe;
}

.kill {
    fill: #ff9090;
    background-color: #fff0f0;
}